@page
@model AdmissionSystem.PagesApplicationList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ApplicationList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationList.ApplicationListID" />
            <div class="form-group">
                <label asp-for="ApplicationList.ApplicationCategory" class="control-label"></label>
                <input asp-for="ApplicationList.ApplicationCategory" class="form-control" />
                <span asp-validation-for="ApplicationList.ApplicationCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationList.Status" class="control-label"></label>
                <input asp-for="ApplicationList.Status" class="form-control" />
                <span asp-validation-for="ApplicationList.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationList.PrioAreaOfResearch" class="control-label"></label>
                <input asp-for="ApplicationList.PrioAreaOfResearch" class="form-control" />
                <span asp-validation-for="ApplicationList.PrioAreaOfResearch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationList.StudentID" class="control-label"></label>
                <select asp-for="ApplicationList.StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
                <span asp-validation-for="ApplicationList.StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationList.AcademicYearID" class="control-label"></label>
                <select asp-for="ApplicationList.AcademicYearID" class="form-control" asp-items="ViewBag.AcademicYearID"></select>
                <span asp-validation-for="ApplicationList.AcademicYearID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
