@page
@model AdmissionSystem.PagesStudents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Student.StudentName" class="control-label"></label>
                    <input asp-for="Student.StudentName" class="form-control" />
                    <span asp-validation-for="Student.StudentName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Student.Gender" class="control-label"></label>
                    <input asp-for="Student.Gender" class="form-control" />
                    <span asp-validation-for="Student.Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.DateOfBirth" class="control-label"></label>
                    <input asp-for="Student.DateOfBirth" class="form-control" />
                    <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.PlaceOfBirth" class="control-label"></label>
                    <input asp-for="Student.PlaceOfBirth" class="form-control" />
                    <span asp-validation-for="Student.PlaceOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.AadharNumber" class="control-label"></label>
                    <input asp-for="Student.AadharNumber" class="form-control" />
                    <span asp-validation-for="Student.AadharNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.BloodGroup" class="control-label"></label>
                    <input asp-for="Student.BloodGroup" class="form-control" />
                    <span asp-validation-for="Student.BloodGroup" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Student.StudentAddress" class="control-label"></label>
                    <input asp-for="Student.StudentAddress" class="form-control" />
                    <span asp-validation-for="Student.StudentAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Student.PostalCode" class="control-label"></label>
                    <input asp-for="Student.PostalCode" class="form-control" />
                    <span asp-validation-for="Student.PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Student.City" class="control-label"></label>
                    <input asp-for="Student.City" class="form-control" />
                    <span asp-validation-for="Student.City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Student.State" class="control-label"></label>
                    <input asp-for="Student.State" class="form-control" />
                    <span asp-validation-for="Student.State" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Student.Nationality" class="control-label"></label>
                    <input asp-for="Student.Nationality" class="form-control" />
                    <span asp-validation-for="Student.Nationality" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.StudentGuradianName" class="control-label"></label>
                    <input asp-for="Student.StudentGuradianName" class="form-control" />
                    <span asp-validation-for="Student.StudentGuradianName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.RelWithGuardian" class="control-label"></label>
                    <input asp-for="Student.RelWithGuardian" class="form-control" />
                    <span asp-validation-for="Student.RelWithGuardian" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.GuardianMobileNumber" class="control-label"></label>
                    <input asp-for="Student.GuardianMobileNumber" class="form-control" />
                    <span asp-validation-for="Student.GuardianMobileNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.GuradianOccupation" class="control-label"></label>
                    <input asp-for="Student.GuradianOccupation" class="form-control" />
                    <span asp-validation-for="Student.GuradianOccupation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.ResidencePhone" class="control-label"></label>
                    <input asp-for="Student.ResidencePhone" class="form-control" />
                    <span asp-validation-for="Student.ResidencePhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.ApplicantsMobileNumber" class="control-label"></label>
                    <input asp-for="Student.ApplicantsMobileNumber" class="form-control" />
                    <span asp-validation-for="Student.ApplicantsMobileNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.FamilyIncome" class="control-label"></label>
                    <input asp-for="Student.FamilyIncome" class="form-control" />
                    <span asp-validation-for="Student.FamilyIncome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.Caste" class="control-label"></label>
                    <input asp-for="Student.Caste" class="form-control" />
                    <span asp-validation-for="Student.Caste" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Student.StudentSignature" class="control-label"></label>
                    <input asp-for="Student.StudentSignature" class="form-control" />
                    <span asp-validation-for="Student.StudentSignature" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Student.StudentPhoto" class="control-label"></label>
                    <input asp-for="Student.StudentPhoto" class="form-control" />
                    <span asp-validation-for="Student.StudentPhoto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Student.PHStatus" class="control-label"></label>
                <input asp-for="Student.PHStatus" class="form-control" />
                <span asp-validation-for="Student.PHStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="Reset" value="Reset" class="btn btn-primary-v4"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
