@page
@model AdmissionSystem.PagesAcademicYear.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AcademicYear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcademicYear.AcademicYearID" />
            <div class="form-group">
                <label asp-for="AcademicYear.AcaYear" class="control-label"></label>
                <input asp-for="AcademicYear.AcaYear" class="form-control" />
                <span asp-validation-for="AcademicYear.AcaYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicYear.EndDate" class="control-label"></label>
                <input asp-for="AcademicYear.EndDate" class="form-control" />
                <span asp-validation-for="AcademicYear.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicYear.StartDate" class="control-label"></label>
                <input asp-for="AcademicYear.StartDate" class="form-control" />
                <span asp-validation-for="AcademicYear.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicYear.IntakeCapacity" class="control-label"></label>
                <input asp-for="AcademicYear.IntakeCapacity" class="form-control" />
                <span asp-validation-for="AcademicYear.IntakeCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicYear.ProgramsID" class="control-label"></label>
                <select asp-for="AcademicYear.ProgramsID" class="form-control" asp-items="ViewBag.ProgramsID"></select>
                <span asp-validation-for="AcademicYear.ProgramsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
